<div class="nav">
    <button mat-flat-button color="primary" (click)="backhome()">Movie</button>
  </div>
  
  <div class="container-fluid">
    <div class="movie-container">
      <div class="row">
        <div class="col-12">
          <div class="card-edit">
            <div class="card-in">
              <span style="margin-right: 4rem;">Movie:
                <mat-form-field appearance="outline" style="width: 90%; margin-left: 1.2rem;">
                  <mat-label>Movie</mat-label>
                  <input matInput type="text" [(ngModel)]="movie_name" name="movie_name">
                </mat-form-field>
              </span>
              <span style="margin-right: 2.3rem;">Poster:
                <mat-form-field appearance="outline" style=" width: 90%; margin-left: 1rem;">
                  <mat-label>Poster</mat-label>
                  <input matInput type="text" [(ngModel)]="poster" name="poster">
                </mat-form-field>
              </span>
              <span style="margin-right: 2.3rem;">Plot:
                <mat-form-field appearance="outline" style=" width: 90%; margin-left: 2.8rem;">
                  <mat-label>Plot</mat-label>
                  <input matInput type="text" [(ngModel)]="plot" name="plot">
                </mat-form-field>
              </span>
              <div class="creator-star">
                <span style="margin-right: 2.3rem;">Genre: </span>
                <mat-form-field appearance="outline">
                  <mat-label>Genre</mat-label>
                  <mat-select [(ngModel)]="selectedGenre" name="genre">
                    <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="btnSave">
                  <button mat-flat-button color="primary" (click)="saveMovie()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  